#site-heading {
	font-size: 2rem;
	font-weight: 600;
	margin: 10px auto;
}

#content {
	margin-top: 10px;
}

#stats {
	margin-top: 10px;
}

#pager {
	margin-top: 10px;
}

#search-form {
	margin: 15px auto 20px;
}

.highlight {
	background-color: gold;
}
